body {
  background-color: #1a1a1a;
  color: #ccc;
  font-family: Avenir, arial, sans-serif;
  line-height: 1.4em;
}

a {
  color: #FF5FB9;
  text-decoration: none;
  border-bottom: 1px solid #333;
}

em {
  font-size: 1.1em;
  font-family: monospace;
  font-style: normal;
  padding: 2px 5px;
  background-color: #333;
}

img.logo {
  margin: 50px;
}

img.logo, section, footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.introduction {
  text-align: center;
  font-size: 1.7em;
  font-family: Avenir;
  font-weight: 300;
  margin-bottom: 30px;
}

.introduction p {
  line-height: 1.2em;
}

h1 {
  font-weight: 500;
}

h2 {
  font-size: 1.3em;
  font-weight: 400;
}

section.app-store a {
  display: block;
  width: 200px;
  margin: auto;
  border: 0;
}

section.app-store img {
  width: 100%;
}

section.app-store {
  margin-bottom: 40px;
}

section, footer {
  width: 90%;
  max-width: 700px;
}

section.help {
  line-height: 1.6em;
}

section.help img {
  max-width: 100%;
  margin: 10px;
}

footer {
  padding: 20px 0;
}

a.author {
  color: #666;
}
