body {
  margin: 0;
  background-color: #1a1a1a;
  color: #ccc;
  font-family: Avenir, arial, sans-serif;
}

a {
  color: #FF5FB9;
  text-decoration: none;
  border-bottom: 1px solid #333;
}

em {
  font-size: 1.1em;
  font-family: monospace;
  font-style: normal;
  padding: 2px 5px;
  background-color: #333;
}

section, footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.introduction {
  position: relative;
  padding: 40px 0 0;
  text-align: center;
  font-size: 1.7em;
  font-family: Avenir;
  font-weight: 300;
}

.introduction .logo {
  height: 180px;
}

.introduction img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.introduction-tagline-container {
  max-width: 700px;
  margin: auto;
  padding: 40px 10px 0;
}

.introduction-tagline {
  font-size: 1.3em;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 10px 0 0 rgba(0, 0, 0, 0.7), -10px 0 0 rgba(0, 0, 0, 0.7);
}

.introduction-title {
  letter-spacing: 1px;
  font-weight: 500;
}

.introduction-tagline .word {
  white-space: nowrap;
}

h2 {
  font-size: 1.3em;
  font-weight: 400;
}

div.app-store {
  padding: 30px 0;
}

div.app-store a {
  display: block;
  width: 200px;
  margin: auto;
  border: 0;
}

div.app-store img {
  width: 100%;
}

section, footer {
  width: 90%;
  max-width: 700px;
}

section.help {
  margin-top: 30px;
  line-height: 1.6em;
}

section.help img {
  max-width: 100%;
  margin: 10px;
}

section.help p.intro {
  margin-bottom: 30px;
}

footer {
  padding: 20px 0;
}

a.author {
  color: #666;
}

header {
  margin: 0;
  padding: 0;
  position: relative;
}

.player-container-layout {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.player-overlay {
  background-color: rgba(0,0,0,0.4);
}

#player {
  width: 100%;
  height: 100%;
}
